@import "styles/vars";

.Footer {
  height: $footer-height;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__copyright {
    color: white;
    font-family: $font-stack;
    font-size: $font-size-medium;
  }
}
