@import "styles/vars";

.Footer {
  height: $footer-height;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  &__copyright {
    color: white;
    font-size: $font-size-medium;
  }
}
