@import "styles/vars";

.Header {
  color: red;
  display: grid;
  grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];


  &__logo {
    height: 80px;
    width: 80px;
    grid-column: col3-start ;
    grid-row: row1-start / row2-end;
  }

  &__title {
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;
  }

  &__subtitle {
    grid-column: col1-start;
    grid-row: row2-start ;
  }

  &__next {
    grid-column: col2-start ;
    grid-row: row2-start ;
  }
}
