@import "styles/vars.scss";

.Banner {
  margin: $spacing-extra-large 0;

  &__text {
    margin-bottom: $spacing-medium;
    font-size: $font-size-large;

    &-bold {
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;
  }
}
