@import "styles/vars";

.FrequentTerms {

  &__title {
    font-size: $font-size-large;
    color: $color-secondary;
  }

  &__itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background-color: $color-light-blue;
    margin: $spacing-medium;
    border-radius: 5px;
  }

  &__item {
    text-decoration: none;
    color: black;
  }
}
