.SearchForm {
  display: flex;
  margin: 40px 0;

  &__input {
    width: 100%;
  }

  &__button {
    margin-left: 40px;
    width: 140px;
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
