.search-form-submit {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -1.12px;
  border-radius: 3px;
  background-color: #1290a4;
  margin-top: 20px;
  height: 60px;
  width: 177px;
  font-size: 18px;
}
