.term-body {
  margin-top: 20px;
}

.term-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 160px;
  background-color: #eef4f5;
}

.term-author-label {
  margin-bottom: 0;
}

.term-author-name {
  margin-bottom: 16px;
}
