.term-body {
  margin-top: 20px;
}

.term-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 140px;
  background-color: #eef4f5;
}

.term-category-content {

}
