$color-primary: #2952A3;
$color-header: #219CD2;
$color-grey: #474747;

$font-stack: Bahnschrift Regular, Helvetica, sans-serif;

$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 14px;

$spacing-large: 80px;
$spacing-medium: 40px;
$spacing-small: 20px;

$footer-height: 60px;
$body-margin: 200px;
