$color-primary: #2952A3;
$color-secondary: #ED8B30;
$color-tertiary: #2952A3;
$color-header: #219CD2;
$color-grey: #474747;
$color-light-blue: #E2EEF3;
$color-light-grey: #A49F9F;

$font-stack: Roboto, Helvetica, sans-serif;


$font-size-extra-large: 36px;
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 14px;

$spacing-extra-large: 80px;
$spacing-large: 40px;
$spacing-medium: 20px;
$spacing-small: 10px;

$navigation-height: 60px;
$footer-height: 60px;
$body-margin: 20%;
